nav
{
    display: flex;
    justify-content: center;
}

.nav_list
{
    display: flex;
    align-content: space-between;
    flex: wrap
    padding: 0px;
}

.nav_list li 
{
    margin-right: 10px;
    list-style: none;
}

.container
{
    display: flex;
    flex-wrap: wrap;
}

img
{
    width: 100px;
    /* border-radius: 100%;s */
    -webkit-transition: -webkit-transform .80s ease-in-out;
    transition: transform .80s ease-in-out;
}

img:hover {
    -webkit-transform: rotate(3600deg) scale(1.1, 1.1);
            transform: rotate(3600deg) scale(1.1, 1.1);
}

.animal
{
    flex-basis: 20%;
}